<script setup lang="ts">
import * as _ from "lodash";
import TileMap from "../components/landing/TileMap.vue";
import SearchBar from "../components/landing/SearchBar.vue";
import HelpText from "../components/landing/HelpText.vue";
import ZoomInBubble from "../components/landing/ZoomInBubble.vue";
import ToggleButton from "../components/landing/ToggleButton.vue";
import LoginHelpText from "../components/landing/LoginHelpText.vue";

import { useAuthStore } from "../stores/auth";
import { useWarningStore } from "../stores/warning";
import { useLandingStore } from "../stores/landing";
import { useDetailStore } from "../stores/detail";
import { onMounted } from "vue";
import { storeToRefs } from "pinia";

import { defineAsyncComponent } from "vue";
const FormPopup = defineAsyncComponent(
  () => import("../components/detail/FormPopup.vue")
);
const UnsavedChangesNotification = defineAsyncComponent(
  () => import("../components/landing/UnsavedChangesNotification.vue")
);
const DuplicateWarning = defineAsyncComponent(
  () => import("../components/landing/DuplicateWarning.vue")
);
const WatchList = defineAsyncComponent(
  () => import("../components/landing/WatchList.vue")
);

function extractToken(url: string) {
  const tokenRegex = /\?oauth_token=(.*)#\//;
  const matches = tokenRegex.exec(url);
  if (_.isArray(matches) && matches.length > 1) {
    return matches[1];
  }
  return null;
}
const warningStore = useWarningStore();
const detailStore = useDetailStore();
const authStore = useAuthStore();
const landingStore = useLandingStore();
const { isDuplicate } = storeToRefs(warningStore);
const { isPopup } = storeToRefs(detailStore);
const { showHelp, showLoginHelp } = storeToRefs(landingStore);
const { setToken } = authStore;

onMounted(async () => {
  const token = extractToken(window.location.href);
  if (_.isString(token) && !_.isEmpty(token)) {
    await setToken(token);
    window.location.href = window.location.pathname;
  }
  isDuplicate.value = false;

  let isLargeScreen = window.matchMedia("(min-width: 750px)").matches;
  showHelp.value = JSON.parse(localStorage.getItem("showHelp") || "true") && isLargeScreen;
  
  if (localStorage.getItem("showLoginHelp")) {
    showLoginHelp.value = JSON.parse(
      localStorage.getItem("showLoginHelp") || ""
    );
  }
});
</script>

<template>
  <div>
    <search-bar></search-bar>
    <tile-map></tile-map>
    <toggle-button></toggle-button>
    <login-help-text></login-help-text>
    <help-text></help-text>
    <zoom-in-bubble></zoom-in-bubble>
    <watch-list></watch-list>

    <post-success></post-success>
    <duplicate-warning></duplicate-warning>
    <unsaved-changes-notification></unsaved-changes-notification>
    <form-popup v-show="isPopup" x-offset="-320"></form-popup>
  </div>
</template>
