<script setup lang="ts">
import { useWarningStore } from "../../stores/warning";
import { useDetailStore } from "../../stores/detail";
import { storeToRefs } from "pinia";

const warningStore = useWarningStore();
const detailStore = useDetailStore();

const { isDuplicate, noteLink } = storeToRefs(warningStore);
const { currentBPOI } = storeToRefs(detailStore);

function closeDuplicateDialog(): void {
  isDuplicate.value = false;
}
</script>

<template>
  <div class="dialog" id="duplicate-dialog" v-if="isDuplicate">
    <div class="close-button" @click="closeDuplicateDialog">
      <font-awesome-icon icon="['fa', 'window-close']" class="fa-xl"/>
    </div>

    <div class="node-warning" v-if="!currentBPOI.isNote">
      <div class="dialog-title">
        {{ $t("warning.duplicate.businessPOI.title") }}
      </div>
      <div class="section">
        {{ $t("warning.duplicate.businessPOI.section1") }}
      </div>
      <div class="section">
        {{ $t("warning.duplicate.businessPOI.section2") }}
      </div>
    </div>

    <div class="note-warning" v-if="currentBPOI.isNote">
      <div class="dialog-title">
        {{ $t("warning.duplicate.note.title") }}
      </div>
      <div class="section">
        {{ $t("warning.duplicate.note.section1") }}
      </div>
      <div class="section">
        {{ $t("warning.duplicate.note.section2") }}
        <a :href="noteLink" target="_blank">{{
          $t("warning.duplicate.note.comment")
        }}</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

#duplicate-dialog {
  width: 500px;
  margin-left: -250px;
  bottom: 65px;
  left: 50%;
  border: 2px solid $error-color;
  overflow-y: auto;
}
</style>
