<script setup lang="ts">
import { useUserdialogStore } from "../../stores/userdialog.js";
import { useDetailStore } from "../../stores/detail.js";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";

const userdialogStore = useUserdialogStore();
const detailStore = useDetailStore();
const router = useRouter();

const { displayUnsavedChangesNotifications, showDialogTimeLeft, timerId } =
  storeToRefs(userdialogStore);
const { isEditingUnsavedChanges } = storeToRefs(detailStore);
const { restoreDetailState } = detailStore;

function hideMessage(): void {
  displayUnsavedChangesNotifications.value = false;
}
function edit(): void {
  clearInterval(timerId.value);
  restoreDetailState();
  isEditingUnsavedChanges.value = true;
  router.push("/detail");
}
</script>

<template>
  <div class="dialog message-dialog" id="unsavedchanges-error-dialog" v-if="displayUnsavedChangesNotifications">
    <div class="close-button" @click="hideMessage">
      <font-awesome-icon :icon="['fa', 'window-close']" class="fa-xl"/>
    </div>

    <div class="node-success">
      <div class="dialog-title">
        {{ $t("unsavedchanges.title") }}
      </div>
      <div id="error-section" class="section">
        {{ $t("unsavedchanges.section1") }} {{ showDialogTimeLeft }} {{ $t("unsavedchanges.section2") }} <a href="" @click.prevent="edit()">{{ $t("unsavedchanges.here") }}</a> {{ $t("unsavedchanges.section3") }}
      </div>
    </div>
  </div>
</template>

<style scoped>
#unsavedchanges-error-dialog {
  bottom: 65px;
  color: #ea5c5c;
  border: 2px solid #ea5c5c;
  padding: 12px;
  font-size: 16px;
}
#error-section{
  display: inline;
}
</style>
