<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useDetailStore } from "../../stores/detail";
const detailStore = useDetailStore();

const { currentBPOI } = storeToRefs(detailStore);
const { showPopup, hidePopup } = detailStore;
</script>

<template>
  <div class="address-wrapper">
    <div class="field-label">
      <h3>{{ $t("detail.titles.address") }}</h3>
      
      <img
        class="info"
        @mouseenter="showPopup($t('infoTexts.address'))"
        @mouseleave="hidePopup()"
        src="../../assets/info_black.png"
      />
    </div>
    <h5 class="info-subtitle">{{ $t("detail.validate.subtitle") }}</h5>
    <div class="address-fields">
      <div class="row">
        <div class="left-field">
          <label>{{ $t("detail.labels.street") }}(*)</label>
          <input
            type="text"
            name="street"
            v-model="currentBPOI.address.street"
            :placeholder="$t('detail.placeholders.street')"
          />
        </div>

        <div class="middle"></div>

        <div class="right-field">
          <label>{{ $t("detail.labels.housenumber") }}</label>
          <input
            type="text"
            name="housenumber"
            v-model="currentBPOI.address.housenumber"
            :placeholder="$t('detail.placeholders.housenumber')"
          />
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <label>{{ $t("detail.labels.place") }}(*)</label>
          <img
            class="info"
            @mouseenter="showPopup($t('infoTexts.addr_place'))"
            @mouseleave="hidePopup()"
            src="../../assets/info_black.png"/>
        </div>
        <input
          type="text"
          name="place"
          v-model="currentBPOI.address.place"
          :placeholder="$t('detail.placeholders.place')"
        />

        <span
          v-show="
            currentBPOI.address.street === '' &&
            currentBPOI.address.place === ''
          "
          class="help is-danger"
        >
          {{ $t("detail.validate.streetOrPlace") }}
        </span>
      </div>

      <div class="row">
        <div class="left-field">
          <label>{{ $t("detail.labels.postcode") }}*</label>
          <input
            type="text"
            name="postcode"
            v-model="currentBPOI.address.postcode"
            :placeholder="$t('detail.placeholders.postcode')"
          />

          <span
            v-show="currentBPOI.address.postcode === ''"
            class="help is-danger"
          >
            {{ $t("detail.validate.required") }}
          </span>
        </div>

        <div class="middle"></div>

        <div class="right-field">
          <label>{{ $t("detail.labels.city") }}*</label>
          <input
            type="text"
            name="city"
            v-model="currentBPOI.address.city"
            :placeholder="$t('detail.placeholders.city')"
          />

          <span v-show="currentBPOI.address.city === ''" class="help is-danger">
            {{ $t("detail.validate.required") }}
          </span>
        </div>
      </div>

      <div class="field">
        <label>{{ $t("detail.labels.country") }}*</label>
        <input
          type="text"
          name="country"
          v-model="currentBPOI.address.country"
          :placeholder="$t('detail.placeholders.country')"
        />

        <span
          v-show="currentBPOI.address.country === ''"
          class="help is-danger"
        >
          {{ $t("detail.validate.required") }}
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.address-fields {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.left-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  flex-grow: 1;
}

.right-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  flex-grow: 1;
}

.middle {
  flex-basis: 2%;
}

.info-subtitle {
  margin: 0px auto 10px auto;
}
</style>
