<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import type { Ref } from "vue";
import { storeToRefs } from "pinia";
import { useDetailStore } from "../../stores/detail";
import { useLocaleStore } from "../../stores/locale";
const detailStore = useDetailStore();
const localeStore = useLocaleStore();

const { currentBPOI } = storeToRefs(detailStore);
const { showPopup, hidePopup } = detailStore;
const { categoryFields } = storeToRefs(localeStore);

const selectedOption: Ref<{ value: string; text: string }> = ref({
  value: "",
  text: "",
});

onMounted(() => {
  currentBPOI.value.isOwnCategory = false;
  selectedOption.value.value = currentBPOI.value.details.category.value;
  selectedOption.value.text = currentBPOI.value.details.category.text;
});

watch(selectedOption, async (newOption: any) => {
  currentBPOI.value.details.category = newOption;
});

function setPredefinedCategory() {
  if (currentBPOI.value.isNew) {
    currentBPOI.value.isNote = false;
    currentBPOI.value.osmType = "node";
  }
  currentBPOI.value.isOwnCategory = false;
  currentBPOI.value.details.category = { value: "", text: "" };
}

function setOwnCategory() {
  currentBPOI.value.isNote = true;
  currentBPOI.value.isOwnCategory = true;
  if (currentBPOI.value.isNew) {
    currentBPOI.value.osmType = "note";
  }
  currentBPOI.value.details.category = { value: "", text: "" };
}
</script>

<template>
  <div class="category-wrapper">
    <div class="field">
      <div class="field-label">
        <h3>{{ $t("detail.titles.category") }}*</h3>
        <img
          class="info"
          @mouseenter="showPopup($t('infoTexts.category'))"
          @mouseleave="hidePopup()"
          src="../../assets/info_black.png"
        />
      </div>

      <div v-show="!currentBPOI.isOwnCategory">
        <v-select
          v-model="selectedOption"
          :selected-option="selectedOption.value"
          :options="categoryFields"
          label="text"
          :class="
            currentBPOI.details.category.text === ''
              ? 'category-select-error'
              : 'category-select'
          "
          :placeholder="$t('detail.placeholders.category')"
        >
        </v-select>
        <button class="button" @click="setOwnCategory()">
          {{ $t("detail.buttons.owncategory") }}
        </button>
      </div>

      <div v-if="currentBPOI.isOwnCategory">
        <div class="category-field">
          <input
            v-model="currentBPOI.details.category.text"
            type="text"
            :placeholder="$t('detail.placeholders.owncategory')"
            name="category-input"
          />
          <button class="button" @click="setPredefinedCategory()">
            {{ $t("detail.buttons.choosecategory") }}
          </button>
        </div>
        <div>
          {{ $t("detail.ownCategoryInfo") }}
        </div>
      </div>

      <span
        v-if="currentBPOI.details.category.text === ''"
        class="help is-danger"
      >
        {{ $t("detail.validate.required") }}
      </span>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.category-field {
  display: flex;
  flex-direction: row;
}

.category-field input,
.basic-select {
  flex-grow: 5 !important;
}

.category-field button {
  flex: 0 0;
  flex-basis: auto;
  margin: 0 0 0 10px;
}

.field {
  .category-select span {
    color: black;
  }
  .category-select-error span {
    color: red;
  }
}

.basic-select,
.basic-select:hover,
.basic-select:focus {
  border: 2px solid $primary-color !important;
}

.menu {
  border: 2px solid $primary-color !important;
  border-top: none !important;
  margin: 0px -2px !important;
  min-width: calc(100% + 2px) !important;
  width: calc(100% + 4px) !important;
}
</style>
