<script setup lang="ts">
import ExtraInputField from "./ExtraInputField.vue";
import { useDetailStore } from "../../stores/detail";
import { storeToRefs } from "pinia";
const detailStore = useDetailStore();

const { currentBPOI } = storeToRefs(detailStore);
</script>

<template>
  <div class="extra-wrapper">
    <div
      v-if="
        currentBPOI.details.category.fields &&
        currentBPOI.details.category.fields.length > 0 &&
        currentBPOI.details.category.fields[0].name !== ''
      "
    >
      <h3>{{ $t("detail.titles.extras") }}</h3>
      <div class="extra-fields">
        <div class="column">
          <div
            class="field"
            v-for="field in currentBPOI.details.category.fields.slice(
              currentBPOI.details.category.fields.length / 2,
              currentBPOI.details.category.fields.length
            )"
            :key="field.label"
          >
            <label>{{ field.label }}</label>
            <extra-input-field :field="field"></extra-input-field>
          </div>
        </div>
        <div class="column">
          <div
            class="field"
            v-for="field in currentBPOI.details.category.fields.slice(
              0,
              currentBPOI.details.category.fields.length / 2
            )"
            :key="field.label"
          >
            <label>{{ field.label }}</label>
            <extra-input-field :field="field"></extra-input-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.extra-wrapper {
  border-top: 1px solid $primary-color;
}

.extra-wrapper h3 {
  margin-top: 10px;
}

.extra-fields {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
</style>
