<script setup lang="ts">
import { useRouter } from "vue-router";
import { useWarningStore } from "../../stores/warning";
import { useDetailStore, createEmptyDetails } from "../../stores/detail";
import { useUpdateStore } from "../../stores/update";
import { useAuthStore } from "../../stores/auth";
import { storeToRefs } from "pinia";
import { useI18n } from "vue-i18n";
import {parseOpeningHoursString} from "../../util/openingHoursParser";

const router = useRouter();

const warningStore = useWarningStore();
const detailStore = useDetailStore();
const updateStore = useUpdateStore();
const authStore = useAuthStore();

const { t } = useI18n();

const { isDuplicate, isConfirm } = storeToRefs(warningStore);
const { isFormSubmission, currentBPOI } = storeToRefs(detailStore);
const { isNotModified, postNote, postNode, clearDetails } = detailStore;
const { checkDuplicateBusinessPOI } = warningStore;
const { loadUpdates } = updateStore;
const { user } = storeToRefs(authStore);

let message = t("detail.buttons.save");
async function submit() {
  message = t("detail.buttons.pleasewait");
  let success: boolean;
  isFormSubmission.value = true;

  if (!currentBPOI.value.isOwnCategory) {

    // Only new (osmId 0 or negative) should go trought the duplicate check
    // Existing businesses would obviously be found by overpass
    if (currentBPOI.value.osmId <= 0) {
      const isDuplicate = await checkDuplicateBusinessPOI();
      if (isDuplicate){
        return false
      }
    }
    postNode(user.value);
    router.push("/");
    return false;
  
  } else {
    success = await postNote(
      user.value,
      currentBPOI.value.osmId,
      currentBPOI.value.noteId,
      currentBPOI.value.osmType
    );
  }

  if (success) {
    loadUpdates(user.value.id, user.value.name);
    clearDetails();
    router.push("/");
  }
}
function isMissingRequiredFields(): boolean {
  return (
    currentBPOI.value.details.category.text === "" ||
    (currentBPOI.value.address.street === "" &&
      currentBPOI.value.address.place === "") ||
    currentBPOI.value.address.postcode === "" ||
    currentBPOI.value.address.city === "" ||
    currentBPOI.value.address.country === "" ||
    currentBPOI.value.details.name === ""
  );
}
function isOpeningHoursNotSet(): boolean {
  return (
    currentBPOI.value.details.opening_hours === "" &&
    currentBPOI.value.details.opening_url === "" 
  );
}
function reset() {
  isConfirm.value = false;
  currentBPOI.value.details = JSON.parse(localStorage.getItem("details") || "");
  currentBPOI.value.details.opening_hours_template = parseOpeningHoursString(currentBPOI.value.details.opening_hours);
  currentBPOI.value.details.opening_hours_template![0].labeling = t("detail.labels.opening_hours_days.monday");
  currentBPOI.value.details.opening_hours_template![1].labeling = t("detail.labels.opening_hours_days.tuesday");
  currentBPOI.value.details.opening_hours_template![2].labeling = t("detail.labels.opening_hours_days.wednesday");
  currentBPOI.value.details.opening_hours_template![3].labeling = t("detail.labels.opening_hours_days.thursday");
  currentBPOI.value.details.opening_hours_template![4].labeling = t("detail.labels.opening_hours_days.friday");
  currentBPOI.value.details.opening_hours_template![5].labeling = t("detail.labels.opening_hours_days.saturday");
  currentBPOI.value.details.opening_hours_template![6].labeling = t("detail.labels.opening_hours_days.sunday");
  currentBPOI.value.details.opening_hours_template![7].labeling = t("detail.labels.opening_hours_days.publicHolidays");
  currentBPOI.value.address = JSON.parse(localStorage.getItem("address") || "");
}
function back() {
  router.push("/");
}
</script>

<template>
  <div class="form-footer">
    <button class="button" @click="back()">
      {{ $t("detail.buttons.back") }}
    </button>
    <button class="button" id="reset-button" @click="reset()">
      {{ $t("detail.buttons.reset") }}
    </button>
    <button
      v-if="!(!isMissingRequiredFields() && !isOpeningHoursNotSet() && isNotModified())"
      class="button"
      :disabled="isMissingRequiredFields() || isDuplicate || isNotModified()"
      @click.once="submit()"
    >
      {{ message }}
    </button>
    <button
      v-else
      class="button"
      @click.once="submit()"
    >
      {{ $t("detail.buttons.checkedopeninghours") }}
    </button>
  </div>
</template>

<style scoped>
.form-footer {
  position: fixed;
  height: 60px;
  margin: 0 auto;
  max-width: 1000px;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: 0;
  right: 0;
}

.button {
  width: 100%;
  margin: 10px 0;
}

#reset-button {
  margin: 10px;
}
</style>
