<script setup lang="ts">
import {createEmptyDetails, useDetailStore} from "../../stores/detail";
import {storeToRefs} from "pinia";
import {useI18n} from "vue-i18n";
import OpeningHoursInput from "./OpeningHoursInput.vue";
import {parseOpeningHoursString} from "../../util/openingHoursParser";
import {checkOpeningHoursNotNullOrUndefined, convert} from "@/util/converter";
import {ref, watch} from "vue";

const detailStore = useDetailStore();
const {currentBPOI} = storeToRefs(detailStore);
const {showPopup, hidePopup} = detailStore;
const {t} = useI18n();

const props = defineProps({
  show: Boolean,
});
const openingHoursModalInput = ref("");

watch(
    () => props.show,
    (newValue) => {
      if (newValue) {
        openingHoursModalInput.value = currentBPOI.value.details.opening_hours;
      }
    }
);

function reset() {
  let getDetails = JSON.parse(localStorage.getItem("details") || "");
  currentBPOI.value.details.opening_hours = getDetails.opening_hours;
  currentBPOI.value.details.opening_hours_template = parseOpeningHoursString(getDetails.opening_hours);
  currentBPOI.value.details.opening_hours_template![0].labeling = t("detail.labels.opening_hours_days.monday");
  currentBPOI.value.details.opening_hours_template![1].labeling = t("detail.labels.opening_hours_days.tuesday");
  currentBPOI.value.details.opening_hours_template![2].labeling = t("detail.labels.opening_hours_days.wednesday");
  currentBPOI.value.details.opening_hours_template![3].labeling = t("detail.labels.opening_hours_days.thursday");
  currentBPOI.value.details.opening_hours_template![4].labeling = t("detail.labels.opening_hours_days.friday");
  currentBPOI.value.details.opening_hours_template![5].labeling = t("detail.labels.opening_hours_days.saturday");
  currentBPOI.value.details.opening_hours_template![6].labeling = t("detail.labels.opening_hours_days.sunday");
  currentBPOI.value.details.opening_hours_template![7].labeling = t("detail.labels.opening_hours_days.publicHolidays");
}

function transferOpeningHours() {
  let result = "";
  if(currentBPOI.value.details.opening_hours_template![8].isOpen){
    currentBPOI.value.details.opening_hours = currentBPOI.value.details.opening_hours_template![8].day;
    return;
  }
  for (let i = 0; i < currentBPOI.value.details.opening_hours_template!.length - 1; i++) {
    if (checkOpeningHoursNotNullOrUndefined(currentBPOI.value.details.opening_hours_template![i].opensAt[0])) {
      currentBPOI.value.details.opening_hours_template![i].isOpen = true;
    } else {
      currentBPOI.value.details.opening_hours_template![i].isOpen = false;
    }
    if (currentBPOI.value.details.opening_hours_template![i].isOpen) {
      result += currentBPOI.value.details.opening_hours_template![i].day;
    } else {
      result += currentBPOI.value.details.opening_hours_template![i].day + " off";
    }
    for(let j = 0; j < currentBPOI.value.details.opening_hours_template![i].opensAt.length; j++) {
      if (
        checkOpeningHoursNotNullOrUndefined(currentBPOI.value.details.opening_hours_template![i].opensAt[j]) &&
        checkOpeningHoursNotNullOrUndefined(currentBPOI.value.details.opening_hours_template![i].closesAt[j])
      ) {
        result += currentBPOI.value.details.opening_hours_template![i].opensAt[j] + "-";
        result += currentBPOI.value.details.opening_hours_template![i].closesAt[j];
        if (checkOpeningHoursNotNullOrUndefined(currentBPOI.value.details.opening_hours_template![i].opensAt[j + 1])) {
          result += ",";
        }
      }
    }
    result += "; ";
  }
  currentBPOI.value.details.opening_hours = convert(result);
}


function saveOpeningHours() {
  if (currentBPOI.value.details.opening_hours === openingHoursModalInput.value) {
    transferOpeningHours();
  }
  else {
    currentBPOI.value.details.opening_hours = openingHoursModalInput.value;
  }
}
</script>

<template>
  <Transition name="modalOpeningHours">
    <div v-if="show" class="modal-mask">
      <div class="modal-container">
        <div class="modal-scroll">
          <div class="modal-header">
            <slot name="header">{{ $t("detail.labels.opening_hours") }}</slot>
            <img class="info" src="../../assets/info_black.png"
              @mouseenter="showPopup($t('infoTexts.opening_hours_detailed'))" @mouseleave="hidePopup()" />
          </div>
          <openingHoursInput></openingHoursInput>
          <div class="openingHoursString">
            <label>{{ $t("detail.labels.opening_hours_string") }}</label>
            <input id="openingHoursTime" v-model="openingHoursModalInput"
              :placeholder="$t('detail.placeholders.opening_hours')" type="text" />
          </div>
        </div>
        <div class="modal-footer">
          <button class="button" @click="$emit('close')">
            {{ $t("detail.buttons.back") }}
          </button>
          <button id="reset-button" class="button" @click="reset()">
            {{ $t("detail.buttons.reset") }}
          </button>
          <button class="button" @click="saveOpeningHours(), $emit('close')">
            {{ $t("detail.buttons.ok") }}
          </button>
        </div>
      </div>
    </div>
  </Transition>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.modal-mask {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}

.modal-container {
  width: 100%;
  margin: 57px 5px 5px 5px;
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;

  --vs-dropdown-min-width: 130px;
}

.modal-scroll {
  max-height: calc(100% - 64px);
  overflow: auto;
}

@media (min-width: 750px) {
  .modal-container {
    width: 680px;
    margin: 57px auto auto auto;
    padding: 20px 30px;
  }

  .modal-scroll {
    max-height: calc(100vh - 220px);
    margin: 20px 0;
  }
}

.modal-header {
  margin-top: 0;
  color: $primary-color;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}

.modal-footer {
  height: 60px;
  margin: 0 auto;
  max-width: 1000px;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: 0;
  right: 0;
}

.button {
  flex-grow: 1;
  margin: 10px 0;
}

#reset-button {
  margin: 10px;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.openingHoursString {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
