<script lang="ts" setup>
import { useDetailStore } from "../../stores/detail";
import { storeToRefs } from "pinia";
import { computed, watch } from "vue";
import {checkOpeningHoursNotNullOrUndefined} from "@/util/converter";

const detailStore = useDetailStore();
const { currentBPOI } = storeToRefs(detailStore);

const openingHoursSelect: Array<{ value: string; text: string }> = [];
let time = new Date("1970-01-01T00:00:00");
for (let i = 0; i < 96; i++) {
  openingHoursSelect[i] = {
    value: time.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }),
    text: time.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }),
  };
  time = new Date(time.getTime() + 15 * 60000);
}

function copyTimesFromAbove(id: number) {
  if (id > 0) {
    const previousTimeRow = currentBPOI.value.details.opening_hours_template![id - 1];
    const currentTimeRow = currentBPOI.value.details.opening_hours_template![id];

    currentTimeRow.opensAt.splice(0, currentTimeRow.opensAt.length, ...previousTimeRow.opensAt);
    currentTimeRow.closesAt.splice(0, currentTimeRow.closesAt.length, ...previousTimeRow.closesAt);
    currentTimeRow.addTimes.splice(0, currentTimeRow.addTimes.length, ...previousTimeRow.addTimes);

  }
}

const isOpen247Model = computed({
  get() {
    return currentBPOI.value.details.opening_hours_template?.[8]?.isOpen ?? false;
  },
  set(value) {
    if (currentBPOI.value.details.opening_hours_template?.[8]) {
      currentBPOI.value.details.opening_hours_template[8].isOpen = value;
    }
  },
});

const isOpen247 = computed({
  get() {
    return isOpen247Model.value;
  },
  set(value) {
    isOpen247Model.value = value;
  },
});

function toggleIsOpen247() {
  isOpen247.value = !isOpen247.value;
}

watch(currentBPOI, (newVal) => {
  if (!newVal.details.opening_hours_template?.[8]) {
    isOpen247Model.value = false;
  }
});

const convertTime12to24 = (time12h: string) => {
  const [time, modifier] = time12h.split(' ');
  let [hours, minutes] = time.split(':');
  if (hours === '12') {
    hours = '00';
  }
  if (modifier === 'PM') {
    hours = (parseInt(hours, 10) + 12).toString();
  }
  return `${hours}:${minutes}`;
}

function isValidOpeningHours(time: string): boolean {
  if(!checkOpeningHoursNotNullOrUndefined(time)) {
    return true;
  }
  if (time.includes("AM") || time.includes("PM")) {
    time = convertTime12to24(time);
  }
  let parsedTime: number = parseInt(time.replace(":", ""));

  return !isNaN(parsedTime);
}

</script>

<template>
  <div class="modal-body" >
    <div v-for="timeRow in currentBPOI.details.opening_hours_template" :key="timeRow.id">
      <div v-if="timeRow.id <= 7">
        <div class="modal-row">
          <label class="weekday">{{ timeRow.labeling }}</label>
          <button v-if="timeRow.id !== 0" class="btn copybutton" @click="copyTimesFromAbove(timeRow.id)">
            {{ $t("detail.buttons.copyTimes") }}
          </button>
          <span v-else class="copybutton">
            <!-- No copy button on mondays, emtpy element for layout-->
          </span>
          <v-select v-model="timeRow.opensAt[0]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.opening')" :reduce="(option: any) => option.value" label="text">
          </v-select>
          <span class="to"> - </span>
          <v-select v-model="timeRow.closesAt[0]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.closing')" :reduce="(option: any) => option.value"
            :selected-option="timeRow.closesAt[0]" label="text">
          </v-select>
          <span>
            <!-- cannot remove last timeRow - emtpy element for layout-->
          </span>
          <div>
            <button class="btn" @click="timeRow.addTimes[0] = !timeRow.addTimes[0]">
              {{ $t("detail.buttons.addtimes") }}
            </button>
          </div>
        </div>
        <span v-if="!isValidOpeningHours(timeRow.opensAt[0]) || !isValidOpeningHours(timeRow.closesAt[0])" class="help is-danger">{{ $t("detail.validate.openingHours") }}</span>
        <div v-if="timeRow.addTimes[0]" class="modal-row">
          <div></div>
          <div></div>
          <v-select v-model="timeRow.opensAt[1]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.opening')" :reduce="(option: any) => option.value"
            :selected-option="timeRow.opensAt[1]" label="text">
          </v-select>

          <span class="to" > - </span>
          <v-select v-model="timeRow.closesAt[1]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.closing')" :reduce="(option: any) => option.value"
            :selected-option="timeRow.closesAt[1]" label="text">
          </v-select>


          <button v-if="timeRow.addTimes[0] === true" class="btn" @click="
            timeRow.addTimes[0] = !timeRow.addTimes[0];
          timeRow.opensAt[1] = '';
          timeRow.closesAt[1] = '';
                                                        ">
            {{ $t("detail.buttons.x") }}
          </button>

          <button class="btn" @click="timeRow.addTimes[1] = !timeRow.addTimes[1]">
            {{ $t("detail.buttons.addtimes") }}
          </button>
        </div>
        <span v-if="!isValidOpeningHours(timeRow.opensAt[1]) || !isValidOpeningHours(timeRow.closesAt[1])" class="help is-danger">{{ $t("detail.validate.openingHours") }}</span>
        <div v-if="timeRow.addTimes[1]" class="modal-row">
          <div></div>
          <div></div>
          <v-select v-model="timeRow.opensAt[2]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.opening')" :reduce="(option: any) => option.value"
            :selected-option="timeRow.opensAt[2]" label="text">
          </v-select>
          <span class="to"> - </span>
          <v-select v-model="timeRow.closesAt[2]" :options="openingHoursSelect"
            :placeholder="$t('detail.placeholders.closing')" :reduce="(option: any) => option.value"
            :selected-option="timeRow.closesAt[2]" label="text">
          </v-select>
          <button v-if="timeRow.addTimes[1] === true" class="btn" @click="
            timeRow.addTimes[1] = !timeRow.addTimes[1];
          timeRow.opensAt[2] = '';
          timeRow.closesAt[2] = '';
                                                            ">
            {{ $t("detail.buttons.x") }}
          </button>
        </div>
        <span v-if="!isValidOpeningHours(timeRow.opensAt[2]) || !isValidOpeningHours(timeRow.closesAt[2])" class="help is-danger">{{ $t("detail.validate.openingHours") }}</span>
      </div>
    </div>
    <div class="field247">
      <label>{{ $t("detail.labels.opening_hours_days.24/7") }}</label>
      <input type="checkbox" :checked="isOpen247" @change="toggleIsOpen247">
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/globals.scss";

.to {
  display: none;
}

.modal-row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.v-select {
  width: calc(50% - 30px);
  flex-shrink: 0;
  justify-self: stretch;
  margin-left:2px;
  margin-right: 2px;
}

.weekday {
  justify-self: start;
  flex-shrink: 0;
  width: 70%;
  margin-bottom: 13px; // Ensures Monday has similar distance to vue-select as other days
}

.copybutton {
  width: 25%;
  flex-shrink: 0;
}

@media (min-width: 750px) {

  .modal-row {
    display: grid;
    grid-template-columns: 110px 100px 130px 10px 130px 30px 120px;
    justify-items: center;
    gap: 5px;
  }

  .weekday, .copybutton, .v-select {
    width: initial;
    margin: initial;
  }

  .to {
    display: initial;
  }
}



.modal-footer {
  margin: 0 auto;
  max-width: 1000px;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: 0;
  right: 0;
}

.button {
  margin: 10px 0;
}

.field247 {
  padding-bottom: 5px;
}
</style>
